.Body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  border: 2px solid black;
}

.Form2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  border: 2px solid black;
}

.h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input {
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}

.input:focus {
  outline: none;
}

.label,
.p {
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonlogin {
  border: none;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonlogin:hover {
  background-color: rgb(77, 77, 77);
  color: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out;
}

.buttonlogin1 {
  border: none;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  margin-top: 10px;
  border: 1px solid gray;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonlogin1:hover {
  background-color: gray;
  color: white;
  transition: all 0.2s ease-in-out;

}

.row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terms {
  color: blue;
}

.row3 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}


.floating {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.floating-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.floating-content h2 {
  text-align: center;
}

.buttonlogin3 {
  border: none;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
}

.buttonlogin3:hover {
  background-color: rgb(88, 88, 88);
  color: rgb(255, 255, 255);
}

.terms {
  cursor: pointer;
  text-decoration: underline;
}

.profile-pic {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-self: center;
}

.h1pf {
  font-family: 'Montserrat', serif;
  font-size: 20px;
  align-self: center;
  margin-right: 10px;
  color: rgb(0, 140, 255);
}

.h1pf1 {
  font-family: 'Montserrat', serif;
  font-size: 15px;
  align-self: center;
  margin-right: 10px;
  color: rgb(0, 140, 255);
}

.row4 {
  align-self: center;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}